/* Your styles goes here. */

.app {
    width: 100vw;
    height: 100vh;
    position: relative;

    .header {
        width: 100%;
        max-height: 4rem;
        overflow: hidden;
        box-shadow: 0 0 0.5rem rgb(207, 207, 207);
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .body {
        width: 100%;
        height: calc(100% - 4rem);
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}