version: '3'

services:
  # React App
  front-end:
    extends:
      file: docker-compose.base.yml
      service: nx-app-base
    command: npm run front-end:dev:docker
    ports:
      - 4201:4200

  # Nest App
  backend:
    extends:
      file: docker-compose.base.yml
      service: nx-app-base
    command: npm run backend:dev:docker
    ports:
      - 4310:3333 # API Entry port
      - 4311:4311 # Server Debugging port
    restart: always
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    hostname: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: platoontalk
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    depends_on:
      - postgres
    ports:
      - 5555:80
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin
    restart: unless-stopped

  # keycloak:
  #   depends_on:
  #     - postgres
  #   container_name: local_keycloak
  #   environment:
  #     DB_VENDOR: postgres
  #     DB_ADDR: postgres
  #     DB_DATABASE: ${POSTGRESQL_DB}
  #     DB_USER: ${POSTGRESQL_USER}
  #     DB_PASSWORD: ${POSTGRESQL_PASS}
  #   image: jboss/keycloak:${KEYCLOAK_VERSION}
  #   ports:
  #     - '28080:8080'
  #   restart: unless-stopped

volumes:
  mono-node-modules: null
